{#{% load staticfiles %}#}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	{#	<link rel="stylesheet" href="{% static 'css/test.css' %}">#}
</head>
<body>
{#<h2>Static Files</h2>#}
{#<img src="{% static 'img/pizza.jpg' %}">#}
<h2>Это страница Index.html</h2>
<br>
<div>
	<h2>{{ pizza.name }}</h2>
	{% if pizza.photo %}
		<img src="{{ pizza.photo.url }}" alt="{{ pizza.name }}">
	{% endif %}
	<div>{{ pizza.description }}</div>
	<div>{{ pizza.price|floatformat:"2" }}</div>
	<hr>
</div>
</body>
</html>